body {
	font-size: 16px;
	font-family: 'Roboto Mono', monospace;
	background-color: rgb(255, 220, 220);
	color: #222;
	font-weight: 500;
}

header {
	margin-bottom: 2rem;
}

section {
	text-align: center;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 56px;
	margin-bottom: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}

input[placeholder] {
	text-align: center;
}

button {
	cursor: pointer;
}

li {
	cursor: pointer;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: underline;
}

img {
	color: black;
}

.storetest {
	display: block;
	width: 60%;
	margin: 0 auto;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 3rem;
	text-align: center;
	// border: 1px solid red;
}

.filter-message{
	display: block;
	margin-bottom: 2rem;
}

.bookmarks-list-section {
	margin: 0 auto;
	padding: 1rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.bookmark {
	display: flex;
	justify-content: space-between;
	min-width: 350px;
	max-width: 100%;
	text-align: center;
	padding: 1rem;
	margin: 0 auto .5rem;
	background-color: rgb(206, 232, 255);
	border: 2px solid #222;
	border-radius: 5px;
	position: relative;
}

.bookmark-rating {
	font-weight: bold;
	margin-left: 2rem;
}

.initial-view-buttons {
	display: flex;
	// max-width: 400px;
	margin: 0 auto .8rem;
	padding: 1rem;
	// position: relative;
}

.bookmark-title {
	font-weight: 500;
}

.bookmark-img {
	position: relative;
	margin: 0 auto;
}

.expanded {
	max-width: 400px;
	max-height: 300px;
	height: 200px;
}

.title-rating-expanded {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}

.bookmark-title-expanded,
.bookmark-rating-expanded {
	font-weight: 500;
}

.bookmark-title-expanded {
text-transform: uppercase;
}

.delete-bookmark {
	display: block;
	max-width: 100px;
	margin: 0 auto;
}

.add-new-button,
#filter-dropdown,
.add-new-bookmark-button,
.new-bookmark-rating,
.delete-bookmark,
.return-button,
.error-return {
	display: block;
	border: 2px solid #222;
	font-family: 'Roboto Mono', monospace;
	border-radius: 5px;
	padding: .8rem 1rem;
	margin: 0 auto;
	text-decoration: none;
	color: #222;
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	transition: transform .5s ease;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.delete-bookmark {
	font-size: .8rem;
	width: 100%;
	max-width: 100px;
	transition: background-color 0.2s, color .2s;
	padding: .4rem .8rem;
}

.delete-bookmark:hover {
	background-color: rgb(250, 43, 43);
	color: white;
}

.return-button {
	display: block;
	font-size: .8rem;
	width: 100%;
	max-width: 250px;
	transition: background .2s;
}

.return-button:hover {
	background: rgb(255, 222, 91);
}

.add-new-button {
	background: #2fffbd;
	margin-right: 1rem;
}

#filter-dropdown {
	background: rgb(255, 222, 91);
	text-align: center;
	margin-left: 1rem;
}

select {
	text-align-last: center;
}

/* ADD NEW BOOKMARK VIEW */

.add-bookmark-view {
	display: flex;
	justify-content: center;
	text-align: center;
}

#add-new-bookmark-form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	width: 100%;
}

.new-bookmark-label {
	margin-bottom: 1rem;
}

.new-bookmark-input {
	margin: 0 auto 2rem;
	min-width: 200px;
	max-width: 300px;
	width: 100%;
	background: rgb(206, 232, 255);
	font-family: 'Roboto Mono', monospace;
}

#new-bookmark-title,
#new-bookmark-url {
	height: 1.5rem;
	font-size: .8rem;
}

#new-bookmark-title,
#new-bookmark-url,
#new-bookmark-description {
	font-weight: 500;
}

::placeholder {
	color:rgb(189, 177, 255);
}

.bookmark.expanded {
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto 1rem;
}

.expanded-title-rating {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.link-button {
	margin-bottom: 1rem;
}

.description {
	margin-bottom: 1rem;
}

.add-new-bookmark-button {
	background: #6fffd1;
	margin-bottom: 2rem;
	transition: background-color .2s;
}

.add-new-bookmark-button:hover {
	background: #2fffbd;
}

.add-new-bookmark-button:before {
	content: " ";
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left:0;
	box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.5);
  opacity: 1; /* hide the hover shadow */
	transition: all 0.3s ease-in-out;
}

.add-new-bookmark-button:hover:before {
	opacity: 1;
}

.new-bookmark-rating {
	display: block;
	margin: 0 auto 2rem;
	background: rgb(255, 222, 91);
	overflow: hidden;
	height: 40px;
	padding-bottom: 2.2rem;
}

#new-bookmark-rating option {
	font-size: 1.2em;
	text-align: center;
	padding: 2px;
	display: inline;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 8px;
}

option:hover,
option:focus,
option:active,
option:checked {
	background: linear-gradient(#2f82ff, #2fffbd);
}

#new-bookmark-rating option:last-child {
	margin-right: 0;
}

/* ERROR SELECTORS */

.error-message {
	font-size: 1.5rem;
	color: red;
	font-style: italic;
	margin-bottom: 3rem;
}

.error-view {
	display: flex;
	flex-direction: column;
}

@media (max-width: 480px) {
	body {
		font-size: 14px;
	}

	.container {
		padding: 2rem 1.2rem 2rem;
	}

	h1 {
		font-size: 34px;
		margin-bottom: -.5rem;
		margin-top: 1.5rem;
	}

	.add-new-button {
		margin-bottom: 1rem;
	}

	section.initial-view-buttons {
		margin-bottom: 1rem;
	}

	.bookmarks-list-section {
		padding: .5rem;
		margin: 0 auto;
	}

	.bookmark {
		padding: .9rem;
		min-width: 220px;
	}

	.bookmark-rating {
		display: none;
	}

}

@media (min-width: 400px) and (max-width: 480px) {

	h1 {
		font-size: 40px;
	}
}

@media (min-width: 480px) and (max-width: 540px) {
	h1 {
		font-size: 48px;
		margin-bottom: 0;
	}

	.add-new-button, #filter-dropdown {
		padding: .8rem 1.6rem;
		position: relative;
		margin: .5rem auto .8rem;
		display: block;
		text-align: center;
		width: 285px;
		max-width: 100%;
	}
}

@media (max-width: 540px) {

	.initial-view-buttons {
		margin: 0 auto 1rem;
		display: block;
		position: relative;
		padding: 1rem;
	}

	.add-new-button, #filter-dropdown {
		padding: .8rem 1.6rem;
		position: relative;
		margin: .8rem auto;
		display: block;
		text-align: center;
		width: 250px;
		max-width: 100%;
	}

	.bookmark {
		min-width: 220px;
	}

	.bookmark-title {
		margin: 0 auto;
	}

	.rated {
		display: none;
	}
}

@media (max-width: 590px) {
	.add-new-button, #filter-dropdown {
		padding: .6rem 1.2rem;
		margin-bottom: 0;
	}

	.bookmark-rating {
		display: block;
	}

	.bookmark-title {
		text-align: left;
		margin: 0 auto 0 0;
	}
	
}
