body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	margin-bottom: 2rem;
}

section {
	text-align: center;
}

h1 {
	font-size: 70px;
	margin-bottom: 1rem;
}

input[placeholder] {
	text-align: center;
}

.storetest {
	display: block;
	width: 60%;
	margin: 0 auto;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 3rem;
	text-align: center;
	// border: 1px solid red;
	max-width: 620px;
}

.initial-view-buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 400px;
	margin: 0 auto 2rem;
}

.bookmark {
	background-color: lightblue;
	display: flex;
	justify-content: space-between;
	border: 1px solid black;
	padding: 1rem;
	margin: 0 auto .5rem;
	max-width: 400px;
}

.expanded {
	max-width: 400px;
	max-height: 300px;
	height: 200px;
}

.title-rating-expanded {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}

.delete-bookmark {
	display: block;
	max-width: 100px;
	margin: 0 auto;
}

/* ADD NEW BOOKMARK VIEW */

.add-bookmark-view {
	display: flex;
	justify-content: center;
	text-align: center;
}

#add-new-bookmark-form {
	display: flex;
	flex-direction: column;
	max-width: 300px;
	width: 100%;
}

.new-bookmark-label {
	margin-bottom: 1rem;
}

.new-bookmark-input {
	margin-bottom: 2rem;
}

.bookmark.expanded {
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto 1rem;
}

.expanded-title-rating {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.link-button {
	margin-bottom: 1rem;
}

.description {
	margin-bottom: 1rem;
}

.add-new-bookmark-button {
	margin-bottom: 2rem;
}

.return-button {
	margin-bottom: 1rem;
}

/* ERROR SELECTORS */

.error-message {
	font-size: 1.5rem;
	color: red;
	font-style: italic;
	margin-bottom: 1rem;
}
